<a href="https://colab.research.google.com/github/Harlequelrah/Learning_data_analysis/blob/main/Learning_data_analysis/Courses/Partie_2/Nettoyez_vos_donn%C3%A9es_avec_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import numpy as np
import pandas as pd

In [26]:
data = pd.read_csv('https://raw.githubusercontent.com/Harlequelrah/Learning_data_analysis/refs/heads/main/Learning_data_analysis/data/personnes.csv')
data

,prenom,email,date_naissance,pays,taille
0,Leila,leila@example.com,23/01/1990,France,1.49m
1,Samuel,samuel_329@example.com,20/09/2001,NaN,1.67m
2,Radia,choupipoune@supermail.eu,12 sept. 1984,Côte d'ivoire,153cm
3,Marc,"marco23@example.com, mc23@supermail.eu",10/02/1978,France,1.65m
4,Heri,helloworld@supermail.eu,05/03/2008,Madagascar,1.34m
5,Hanna,hanna2019@supermail.eu,01/01/1970,24,3.45m
6,samuël,samuel_329@example.com,NaN,Bénin,1.45m

# Détecter les erreurs

## 1 - Les valeurs manquantes

Les valeurs manquantes sont en générale plus faciles à détecter que les autres .

In [27]:
display(data.isnull().sum())

prenom            0
email             0
date_naissance    1
pays              1
taille            0
dtype: int64

## 2 - Les valeurs outliers

On a des méthodes comme l'ecart interquartile (est une mesure de la dispersion statistique , qui est la dispersion des données.) ou du Z-score ( le nombre d’écarts types par rapport à la moyenne d’un point d’information )

## 2 - Les doublons

In [28]:
data.loc[data['email'].duplicated(keep=False)]
# keep peut prendre les valeurs 'first' | 'last' | False

   prenom                   email date_naissance   pays taille
1  Samuel  samuel_329@example.com     20/09/2001    NaN  1.67m
6  samuël  samuel_329@example.com            NaN  Bénin  1.45m

## Traitez les pays

In [29]:
VALID_COUNTRIES= ['France','Cote d\'ivoire','Madagascar','Bénin','Allemagne','USA']
mask= ~ data['pays'].isin(VALID_COUNTRIES)
data.loc[mask,'pays'] = np.nan

Traitez les e-mails

- ',' : le séparateur

- n : le nombre de fois où on souhaite séparer

- expand=True : permet de placer les différentes séparations en colonnes

In [30]:
data['email']=data['email'].str.split(',',n=1,expand=True)[0]
data['email']
# comme .str pour chaine de caractère on peut accéder aux méthodes de datetime avec .dt

0           leila@example.com
1      samuel_329@example.com
2    choupipoune@supermail.eu
3         marco23@example.com
4     helloworld@supermail.eu
5      hanna2019@supermail.eu
6      samuel_329@example.com
Name: email, dtype: object

**Traitez les tailles** :

- Convertir les tailles en nombres décimaux.

- Remplacer les valeurs manquantes par la moyenne de notre échantillon

In [31]:
data['taille'] = data['taille'].str[:-1]
data['taille'] = pd.to_numeric(data['taille'],errors='coerce')
data.loc[data['taille'].isnull(),'taille'] = data['taille'].mean()
data['taille']

0    1.490000
1    1.670000
2    1.841667
3    1.650000
4    1.340000
5    3.450000
6    1.450000
Name: taille, dtype: float64

## Traitez les dates

In [34]:
data['date_naissance']=pd.to_datetime(data['date_naissance'],format='%d/%m/%Y',errors='coerce')

0       23/01/1990
1       20/09/2001
2    12 sept. 1984
3       10/02/1978
4       05/03/2008
5       01/01/1970
6              NaN
Name: date_naissance, dtype: object

0   1990-01-23
1   2001-09-20
2          NaT
3   1978-02-10
4   2008-03-05
5   1970-01-01
6          NaT
Name: date_naissance, dtype: datetime64[ns]